<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>
  
  <appSettings>
    <!--<add key="subscriptionkey" value="Your Moderator Subscription Key"/>
    <add key="Review.ClientId" value="Your Review Tool Client Id"/>
    <add key="Review.ClientSecret" value="Your Review Tool Client Secret"/>
    <add key="Review.TeamName" value="Your Review Tool Team Name"/>-->
    <add key="subscriptionkey" value="Your Moderator Subscription Key"/>
    <add key="Review.TeamName" value="Your Review Tool Team Name"/>
  </appSettings>

  <connectionStrings>
    <add name="MyExcelConn" connectionString="Dsn=Excel Files;dbq=|DataDirectory|\\data.xlsx;defaultdir=C:\\; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc" />
  </connectionStrings>

  <microsoft.visualstudio.testtools>
    <dataSources>
      <add name="ImageEvalute" connectionString="MyExcelConn" dataTableName="ImageEvaluate$" dataAccessMethod="Sequential"/>
      <add name="DetectFaces" connectionString="MyExcelConn" dataTableName="DetectFaces$" dataAccessMethod="Sequential"/>
      <add name="OCRImage" connectionString="MyExcelConn" dataTableName="OCRImage$" dataAccessMethod="Sequential"/>
      <add name="ImageMatch" connectionString="MyExcelConn" dataTableName="ImageMatch$" dataAccessMethod="Sequential"/>
      <add name="TermMatch" connectionString="MyExcelConn" dataTableName="TermMatch$" dataAccessMethod="Sequential"/>
      <add name="IdentifyLanguage" connectionString="MyExcelConn" dataTableName="IdentifyLanguage$" dataAccessMethod="Sequential"/>
    </dataSources>
  </microsoft.visualstudio.testtools>
  
</configuration>